*.exe
*.dll
*.lib
*.exp
*.pdb
*.obj
*.ilk
*.ipch
*.iobj
*.ipdb
*.cache

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ll]og/
[Pp]ackages/
out/

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.user
*.aps
*.ncb
*.sdf
*.opensdf

.vs/

.idea/
*.iml
*.iws
*.ids
*.ipr
*.idea_modules/

*.o
*.a
*.so
*.dylib

Thumbs.db
.DS_Store
desktop.ini

*.~
*.swp
*.swo